*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;

  background-image: url("https://media.istockphoto.com/photos/programming-source-code-on-digital-screen-software-developer-and-picture-id1336271758?b=1&k=20&m=1336271758&s=170667a&w=0&h=HoJqtqo1r54eZf9G4OqBXRHXLsYoD0X9wMR-vXFBiTE=");
  background-color: #000000;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;

  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Helvetica", "Arial";
  /* overscroll-behavior-y: none; */
}

.overlayE {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.886);
}

.nav-bar {
  height: 100vh;
  position: fixed;
  float: left;

  max-width: 20vw;
  min-width: 20vw;
  margin: 0;
  align-items: center;
  justify-content: center;
  text-align: center;

  border-radius: 0.5%;
  border-width: 1px;
  border-style: solid;
  border-color: #c7cfdfd7;
  padding-top: 2.5%;

  background-color: #0000007b;
  /* background-color: #8503037b; */
  font-weight: 700 !important;
}

.nav-content {
  display: inline;
  max-width: 20vw;
  min-width: 20vw;
  text-align: center;
  padding-left: 0px;

  font-weight: 700 !important;
}

.nav-content .nav-item {
  display: inline-block;
  max-width: 20vw;
  min-width: 20vw;
  padding: 35px 20px;

  color: #10a775;
  font-weight: 700 !important;
}

.nav-content .nav-link {
  display: inline-block;
  /* max-width: 20vw; */
  /* min-width: 20vw; */

  transition: 0.5s;
  font-family: "Courier New", Courier, monospace;
  font-size: 2vw;
  color: #10a775;
}

li a:hover {
  transform: scale(1.25); /* this is grow amount */

  color: white;
  background-color: #555;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  direction: ltr;
}

.sectionClass {
  position: relative;
  display: block;
  width: 80vw;
  float: right;

  padding-top: 10vh;

  /* background-color: #10a775; */
}

.row {
  width: 70vw;
  max-width: 70vw;
  height: 100%;
  margin: 0 auto;
  /* background-color: violet; */
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.sectiontitle {
  background-position: center;
  text-align: center;
}

.sectiontitle h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 0;
}

.headerLine {
  width: 11vw;

  height: 2px;
  display: inline-block;
  background: #10a775;
}

.headerLine2 {
  width: 7vw;

  height: 2px;
  display: inline-block;
  background: #10a775;
}

.headerLine3 {
  width: 5.5vw;

  height: 2px;
  display: inline-block;
  background: #10a775;
}

/********************************/
/*  SECTION WORK EXPERIENCE
  ********************************/

.cbp_tmtimeline {
  margin: 10vh 10vh 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.cbp_tmtimeline:before {
  content: "";
  position: absolute;
  top: 3%;
  bottom: 0;
  width: 10px;
  background: #10a775;
  left: 13%;
  height: 100%;
}

.cbp_tmtimeline li:last-child:before {
  content: initial;
}

.cbp_tmtimeline > li .cbp_tmtime {
  display: block;
  width: 25%;
  padding-right: 100px;
  position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
  display: block;
  text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
  font-size: 0.9em;
  color: #bdd0db;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
  font-size: 2.9em;
  color: #3594cb;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
  color: #6cbfee;
}

.cbp_tmtimeline > li .cbp_tmlabel {
  margin: 0 0 15px 25%;
  background: #2d3741;
  color: #fff;
  padding: 30px;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
  font-family: "Open Sans";
  position: relative;
  border-radius: 5px;
  min-height: 150px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
  background: #2d3741;
}

.cbp_tmtimeline > li .cbp_tmlabel h3 {
  margin-top: 0px;
  color: white;
  font-size: 1.2em;
  margin-bottom: 5px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #2d3741;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.cbp_tmtimeline > li .cbp_tmlabel h4 {
  opacity: 0.7;
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
  color: rgba(255, 255, 255, 1);
  text-align: left;

  letter-spacing: 0px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 600;
}

.cbp_tmtimeline > li .cbp_tmlabel h4 i {
  margin-right: 5px;
  vertical-align: middle;
}

.cbp_tmtimeline > li .cbp_tmlabel:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #10a775;
  border-width: 10px;
  top: 70px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
  border-right-color: #10a775;
}

.cbp_tmtimeline > li .cbp_tmicon {
  width: 150px;
  height: 150px;
  top: 3%;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #151515;
  background: #2d3741;
  border-radius: 50%;
  text-align: center;
  left: 8%;
  margin: 0 0 0 -25px;
}

.cbp_tmtimeline li {
  margin-bottom: 70px;
  position: relative;
}

.sectionClassProject {
  position: relative;
  display: block;
  /* background: #f7f7f7; */

  margin: 0 auto;
  padding: 80px 1.875em 3.125em;
}

.projectParagraph {
  font-size: 18px;
  margin: 0.5em 0 0;
  font-family: "Source Sans Pro", serif;
}

.projectParagraphLink {
  font-size: 15px !important;
  font-weight: 500 !important;
  margin-top: 50px !important;
  margin-bottom: 0px;
  text-align: right;
}

.projectParagraphLink a {
  color: #10a775;
  text-decoration: underline;
}

.cbp_tmicon img {
  width: 100%;
}

.faPra {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 70px;
  vertical-align: middle;
  color: white;
  line-height: 150px;
}
.fa_custom {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 70px;
  vertical-align: middle;
  color: white;
  line-height: 150px;
}

.label {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  color: #ffffff;
  display: inline;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
  padding: 5px 15px;
}

.date {
  color: #bfc3c7;
  display: block;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  top: 30px;
  right: 20px;
}

.date i {
  margin-right: 8px;
  vertical-align: top;
  font-size: 18px;
  line-height: 20px;
}

/* education/experience lists animation */
@media (max-width: 1024px) {
  .cbp_tmtimeline:before {
    display: none;
  }
  .cbp_tmtimeline > li .cbp_tmtime {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
  }
  .cbp_tmtimeline > li .cbp_tmtime span {
    text-align: left;
  }
  .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 30px 0 70px 0;
    padding: 50px 30px 30px 30px;
    font-weight: 400;
    font-size: 95%;
    float: left;
  }
  .cbp_tmtimeline > li .cbp_tmlabel:after {
    right: auto;
    border-right-color: transparent;
    border-bottom-color: rgb(50, 68, 84);
    top: -20px;
  }
  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: transparent;
    border-bottom-color: rgb(43, 58, 72);
    left: 65px;
  }
  .cbp_tmtimeline > li:nth-child(even) .cbp_tmlabel:after {
    right: 65px;
  }
  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmicon {
    position: relative;
    float: left;
    left: auto;
    margin: 0px 5px 0 0px;
  }
  .cbp_tmtimeline > li:nth-child(even) .cbp_tmicon {
    position: relative;
    float: right;
    left: auto;
    margin: 0px 5px 0 0px;
  }
  .cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 1.5em;
  }
}

@media (max-width: 32em) {
  .cbp-ntaccordion {
    font-size: 70%;
  }
}
/* education/experience lists animation */

/*book animation */
.book-div {
  position: absolute;
  right: 0;
  float: right;

  height: 12.5vh;
  /* width: 168.5vh; */
  width: 80vw;
  z-index: -1;
  /* background-color: aquamarine; */
}

.book {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  height: 3.5rem;
  /* width: 16.5rem; */
  
  width: 12.5rem;
  perspective: 70rem;
  opacity: 0.2;
  z-index: 1;

  /* background-color: rgb(255, 127, 221); */

}
.cover {
  background-color: #36354e;
  transform: rotateY(0deg);
  width: 6.25rem;
  height: 9.5rem;
}
.page {
  top: 0.25rem;
  left: 0.25rem;
  background-color: #e9e6c4;
  transform: rotateY(0deg);
  width: 6rem;
  height: 9rem;
  text-align: right;
  font-size: 8px;
  color: #777;
  font-family: monospace;
}
.page::before,
.page::after {
  display: block;
  border-top: 1px dashed rgba(0, 0, 0, 0.3);
  content: "";
  padding-bottom: 1rem;
}
.cover,
.page {
  position: absolute;
  padding: 1rem;
  transform-origin: 100% 0;
  border-radius: 5px 0 0 5px;
  box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.2),
    0px 0px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.cover.turn {
  animation: bookCover 3s forwards;
}
.page.turn {
  animation: bookOpen 3s forwards;
}
.page:nth-of-type(1) {
  animation-delay: 0.05s;
}
.page:nth-of-type(2) {
  animation-delay: 0.33s;
}
.page:nth-of-type(3) {
  animation-delay: 0.66s;
}
.page:nth-of-type(4) {
  animation: bookOpen150deg 3s forwards;
  animation-delay: 0.99s;
}
.page:nth-of-type(5) {
  animation: bookOpen30deg 3s forwards;
  animation-delay: 1.2s;
}
.page:nth-of-type(6) {
  animation: bookOpen55deg 3s forwards;
  animation-delay: 1.25s;
}
@keyframes bookOpen {
  30% {
    z-index: 999;
  }
  100% {
    transform: rotateY(180deg);
    z-index: 999;
  }
}
@keyframes bookCover {
  30% {
    z-index: 999;
  }
  100% {
    transform: rotateY(180deg);
    z-index: 1;
  }
}
@keyframes bookOpen150deg {
  30% {
    z-index: 999;
  }
  100% {
    transform: rotateY(150deg);
    z-index: 999;
  }
}
@keyframes bookOpen55deg {
  30% {
    z-index: 999;
  }
  100% {
    transform: rotateY(55deg);
    z-index: 999;
  }
}
@keyframes bookOpen30deg {
  50% {
    z-index: 999;
  }
  100% {
    transform: rotateY(30deg);
    z-index: 999;
  }
}
/* book animation */

/* coffee mug */
.coffee-div {
  position: absolute;
  top: 8vh;
  right: 0;
  float: right;
  padding-left: 0.5vw;

  height: 10.5vh;
  width: 80vw;
  z-index: -1;
  /* background-color: aquamarine; */
}

.coffee-mug {
  position: relative;
  margin: 0 auto;
  width: 6em;
  height: 5em;
  border-radius: 0.05em 0.05em 3em 3em;
  box-shadow: 0 0 0 0.5em #413e3e;
  opacity: 0.5;
}
.coffee-mug:after {
  content: "";
  display: block;
  position: absolute;
  left: 100%;
  top: 1em;
  width: 1.5em;
  height: 2em;
  box-shadow: 0 0 0 0.5em #413e3e;
  margin-left: 0.5em;
  border-radius: 0 50% 50% 0;
}
.coffee-mug .coffee-container {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: transparent;
  border-radius: 0.05em 0.05em 3em 3em;
}
.coffee-mug .coffee {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #4e2909;
  animation: coffee-load 3.3s infinite;
}
.coffee-mug .coffee:before {
  content: "";
  display: block;
  width: 200%;
  height: 1em;
  position: absolute;
  left: -50%;
  top: -0.5em;
  background-color: #4e2909;
  animation: coffee-wave 0.8s ease-in-out infinite;
  border-radius: 50%;
}

@keyframes coffee-load {
  0% {
    transform: translateY(100%);
  }
  70% {
    transform: translateY(30%);
  }
  90% {
    transform: translateY(0);
  }
  95% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes coffee-wave {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}
/* coffee mug */

/* hobbies */
.h_container {
  position: absolute;
  width: 80vw;
  right: 0%;
  margin: 0 auto;
  padding-top: 10vh;

  background: transparent;
  /* background: rgb(13, 4, 200); */
  overflow-y: hidden;

  overflow: auto;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  z-index: -1;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

h1 {
  font-size: 2em;
  text-align: center;
  padding: 0;
}

.right-content,
.left-content {
  float: left;
  display: block;
  width: 40vw;
  padding: 1% 2%;
  padding-top: 10vh;
}

.left-content {
  border-right: 5px dotted #10a775;
  text-align: right;
}

.left-content p {
  height: 20vh;

  /* margin: 80px 0 250px; */
  /* background-color: #3594cb; */
  margin-bottom: 20vh;
}

.right-content p {
  /* margin: 80px 0 250px; */
  margin-bottom: 20vh;
}

.container p {
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7 ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.hobby_img {
  height: 20vh;
  aspect-ratio: 1;
  object-fit: fill;
  background: transparent
  /* background-color: #4e2909; */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* hobbies */
