p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Roboto", serif;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0px;
  background-image: url("https://media.istockphoto.com/photos/programming-source-code-on-digital-screen-software-developer-and-picture-id1336271758?b=1&k=20&m=1336271758&s=170667a&w=0&h=HoJqtqo1r54eZf9G4OqBXRHXLsYoD0X9wMR-vXFBiTE=");

  background-color: #000000;
  background-size: cover;
  overflow-x: hidden;
  font-family: "Roboto", serif;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 20%;
  text-align: center;

  background-color: #000000e6;
  font-weight: 700 !important;
}

.nav-content {
  display: inline;
  text-align: center;
  padding-left: 0px;

  font-weight: 700 !important;
}

.nav-content .nav-item {
  display: inline-block;
  padding: 35px 20px;

  color: #10a775;
  font-weight: 700 !important;
}

.nav-content .nav-link {
  display: inline-block;

  font-family: "Courier New", Courier, monospace;
  font-size: 2em;
  color: #10a775;
}

li a:hover {
  background-color: #555;
  color: white;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  background-color: #00000052 !important;
}

.profile .profile-picture {
  margin: auto;
  width: auto;
}

.profile img {
  border-radius: 50%;
  max-width: 300%;
  max-height: 300%;
  margin-left: auto;
  margin-right: auto;
}

.profile h1 {
  font-size: 50px;
  font-weight: 700;
  color: white;
}

.description {
  width: 50%;
  align-self: center;
  font-size: 30px;
  font-weight: 700;
  color: white;
}
