body {
  /* display: flex; */
  /* display: flex; */
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin: 0px;

  background-image: url("https://media.istockphoto.com/photos/programming-source-code-on-digital-screen-software-developer-and-picture-id1336271758?b=1&k=20&m=1336271758&s=170667a&w=0&h=HoJqtqo1r54eZf9G4OqBXRHXLsYoD0X9wMR-vXFBiTE=");
  background-color: #000000;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Roboto", serif;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.886);
}

.nav-bar {
  height: 100vh;
  position: fixed;
  float: left;

  max-width: 20vw;
  min-width: 20vw;
  margin: 0;
  align-items: center;
  justify-content: center;
  text-align: center;

  border-radius: 0.5%;
  border-width: 1px;
  border-style: solid;
  border-color: #c7cfdfd7;
  padding-top: 2.5%;

  background-color: #0000007b;
  /* background-color: #8503037b; */
  font-weight: 700 !important;
}

.nav-content {
  display: inline;
  max-width: 20vw;
  min-width: 20vw;
  text-align: center;
  padding-left: 0px;

  font-weight: 700 !important;
}

.nav-content .nav-item {
  display: inline-block;
  max-width: 20vw;
  min-width: 20vw;
  padding: 35px 20px;

  color: #10a775;
  font-weight: 700 !important;
}

.nav-content .nav-link {
  display: inline-block;
  /* max-width: 20vw; */
  /* min-width: 20vw; */

  transition: 0.5s;
  font-family: "Courier New", Courier, monospace;
  font-size: 2vw;
  color: #10a775;
}

li a:hover {
  transform: scale(1.25); /* this is grow amount */

  color: white;
  background-color: #555;
}

.middle_panel {
  float: right;
  flex-direction: column;

  height: 100vh;
  width: 25vw;
  max-width: 25vw;
  min-width: 25vw;
  margin: 0;
  /* align-items: center;
  justify-content: center; */
  text-align: center;
  font-weight: 700 !important;
}

.img-div {
  display: flex;
  height: 50vh;
  width: 25vw;
  align-items: center;
  justify-content: center;

  /* background-color: #a710a5; */
  z-index: -1;
}

.img1 {
  height: auto;
  width: 75%;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
  border-radius: 360%;

  /* background-color: #f0a775; */
}

.social-div {
  float: right;
  width: 25vw;
  align-items: center;
  justify-content: center;

  /* background-color: #10a775; */
}

.social_icon {
  display: inline-block;
  margin: 1.25vw;
  border-radius: 360%;
  background-color: #00000000;
  color: #000000;
  text-shadow: -1px 0 black, 0 0.25px black;
}

.email_tag {
  position: relative;
  top: 2vh;

  font-size: 1rem;
  color: rgba(255, 255, 255, 0.55);
  line-height: 1.5;
  text-decoration: none;
}

.email_link {
  position: relative;
  top: 2vh;

  font-size: 1rem;
  color: rgba(255, 255, 255, 0.55);
  line-height: 1.5;
  text-decoration: none;

  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.email_link:hover {
  color: #10a775;
  text-shadow: 0px 0px 30px #fdec6e;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.intro-div {
  float: right;

  align-items: center;
  height: 100vh;
  width: 55vw;
  min-width: 55vw;

  /* background-color: crimson; */
}

.intro {
  display: flex;
  width: 55vw;
  align-items: center;
  justify-content: center;
  right: 1vw;
  padding-top: 5vh;

  font-size: 8rem;
  color: #10a775;
  font-weight: 600;
  text-shadow: -1px 0 black, 0 0.25px black;
}

.am {
  position: relative;
  width: 45vw;
  min-width: 45vw;

  top: 10vh;
  border-bottom-width: 0.25vh;
  border-bottom-color: rgba(255, 255, 255, 0.55);
  border-bottom-style: solid;

  padding-bottom: 0.5vh;

  font-size: 1rem;
  color: rgba(255, 255, 255, 0.55);
  line-height: 1.5;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  /* background-color: slateblue; */
}

.fa {
  transition: 0.5s; /* this is grow duration */
}

.fa:hover {
  transform: scale(1.5); /* this is grow amount */
}

/*⬇️ change these lines to style focus effect */
/* do not change names of these classes */
.focus {
  float: right;

  position: relative;
  min-width: 55vw;
  top: 30vh;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.55);
  letter-spacing: 0.2rem;
  line-height: 1.5;
  text-transform: uppercase;
}

.focus:before {
  content: "About Me";
  filter: blur(3px);
}

.focus:after {
  position: absolute;
  height: 70px;
  width: 135px;
  /* background-color: #10a775; */
  top: 1px;
  left: 0;
  content: "";
  border-top: 2px solid;
  border-bottom: 2px solid;
  -webkit-animation: mask-move 1s linear infinite alternate;
  animation: mask-move 1s linear infinite alternate;
}
.focus--mask {
  position: absolute;
  width: 135px;
  top: 0;
  left: 0;
  overflow: hidden;
  background: #0000001b;

  -webkit-animation: mask-move 1s linear infinite alternate;
  animation: mask-move 1s linear infinite alternate;
}
.focus--mask-inner {
  width: 375px;
  -webkit-animation: mask-inner-move 1s linear infinite alternate;
  animation: mask-inner-move 1s linear infinite alternate;
}
/*⬆️ change these lines to style focus effect */

/* focus animation settings don't change*/
@-webkit-keyframes mask-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(129px);
  }
}
@keyframes mask-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(129px);
  }
}
@-webkit-keyframes mask-inner-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-129px);
  }
}
@keyframes mask-inner-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-129px);
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* focus animation settings don't change*/

.travel-div {
  float: right;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;

  /* background-color: blue; */
}

.travel_header {
  position: relative;
  top: 2vh;
  width: 55vw;
  min-width: 55vw;
  text-align: center;

  align-items: center;
  justify-content: center;
  /* background-color: #10a775; */
}

.th1 {
  width: 55vw;
  text-align: center;

  font-size: 2.1rem;
  color: white;
  margin-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

.headerLine {
  width: 7.5vw;
  height: 2px;
  display: block;
  background: #10a775;
  margin: 0 auto;
}

.thp {
  width: 55vw;
  text-align: center;

  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  color: #10a775;
  font-weight: 600;
  text-shadow: -1px 0 black, 0 0.25px black;
}

#map {
  /* float: right; */
  height: 75%;
  min-height: 75%;
  width: 50vw;
  /* top: 20vh; */
  /* right: 2.75vw; */
  /* padding: 10%; */

  border-radius: 1%;
  border-width: 1.5px;
  border-style: solid;
  border-color: #c7cfdfd7;

  background-color: rgba(6, 7, 5, 0.503);
}
