<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>Portfolio Template</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />
    <style type="text/css">
      .fa_custom {
        color: #0099cc;
      }
    </style>

    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />
  </head>

  <body>
    <!-- transparent black div to overlay the background -->
    <div class="overlay"></div>
    <!-- transparent black div to overlay the background -->

    <!-- menu_bar -->
    <header class="nav-bar">
      <ul class="nav-content">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            style="color: rgba(255, 255, 255, 0.55)"
            href="/aboutMe"
            >About Me</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/hobbies">Hobbies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/travel">My Travels</a>
        </li>
      </ul>
    </header>
    <!-- menu_bar -->
    <div class="middle_panel">
      <div class="img-div">
        <image class="img1" src="./static/img/profile_pic.jpeg"></image>
      </div>
      <div class="social-div">
        <div class="social_icon">
          <a href="https://github.com/The-Pr0grammer">
            <i class="fa fa-github fa_custom fa-4x"></i>
          </a>
        </div>
        <div class="social_icon">
          <a href="https://www.linkedin.com/in/anthony-holder-93b81a19a/">
            <i class="fa fa-linkedin fa_custom fa-4x"></i>
          </a>
        </div>
        <div class="social_icon">
          <a href="https://twitter.com/The_Pr0grammer_">
            <i class="fa fa-twitter fa_custom fa-4x"></i>
          </a>
        </div>
        <div>
          <span class="email_tag">Email:</span>
          <a class="email_link" href="mailto:anthonyh202x@gmail.com">
            <br /><em>example_email@mail.com</em></a
          >
        </div>
      </div>
    </div>

    <!-- about me -->
    <div class="focus">
      <div class="focus--mask">
        <div class="focus--mask-inner">About Me</div>
      </div>
      <p class="am">
        I’m the type of person that will burst out laughing in dead silence over
        something that happened yesterday. My ethics are so clear and
        transparent that you can’t even see them. Sometimes I wish my mouth had
        a Pause button… I’m so cool I wasn’t actually born, I was defrosted. I’m
        so cool that even ice cubes are jealous. I’m so hot that I contribute to
        global warming. I am so clever that sometimes I don’t understand a
        single word of what I am saying. I don’t believe in miracles. I rely on
        them. I’m painting a blue square in my backyard so Google Earth thinks I
        have a pool.
      </p>
    </div>
    <!-- about me -->
  </body>
</html>
