<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>My Portfolio</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../static/styles/main.css" />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />
    <style type="text/css">
      .fa_custom {
        color: #0099cc;
      }
    </style>

    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />
  </head>

  <body>
    <!-- transparent black div to overlay the background -->
    <div class="overlay"></div>
    <!-- transparent black div to overlay the background -->

    <!-- menu_bar -->

    <header class="nav-bar">
      <ul class="nav-content">
        <li class="nav-item">
          <a class="nav-link" style="color: rgba(255, 255, 255, 0.55)" href="/"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutMe">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/hobbies">Hobbies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/travel">My Travels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/timeline">Timeline</a>
        </li>
      </ul>
    </header>
    <!-- menu_bar -->

    <!-- animated intro  -->
    <div class="intro-div">
      <p class="intro"></p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <script>
      var typed = new Typed(".intro", {
        strings: [
          "Hello, I'm Hussain Omer",
          "I'm a Full Stack Web Developer",
          `Welcome to my portfolio!`,
        ],
        typeSpeed: 70,
        backSpeed: 50,
        backDelay: 2500,
        loop: true,
      });
    </script>
    <!-- animated intro  -->
    <div class="middle_panel">
      <!-- profile pic -->
      <div class="img-div">
        <image class="img1" src="../static/img/profile_pic.jpeg"></image>
      </div>
      <!-- profile pic -->
      <!-- socials -->
      <div class="social-div">
        <div class="social_icon">
          <a href="https://github.com/hussaino03">
            <i class="fa fa-github fa_custom fa-4x"></i>
          </a>
        </div>
        <div class="social_icon">
          <a href="https://www.linkedin.com/in/hussainomer">
            <i class="fa fa-linkedin fa_custom fa-4x"></i>
          </a>
        </div>
        <div class="social_icon">
          <a href="https://www.instagram.com/h.s.z_11/">
            <i class="fa fa-instagram fa_custom fa-4x"></i>
          </a>
        </div>
        <div>
          <span class="email_tag">Email:</span>
          <a class="email_link" href="mailto:m.hussainomer03@gmail.com">
            <br /><em>m.hussainomer03@gmail.com</em></a
          >
        </div>
      </div>
      <!-- socials -->
    </div>
  </body>
</html>